# Created by .ignore support plugin (hsz.mobi)
.idea
target
tmp
src/main/resources/static/
src/test/resources/
src/main/resources/application-private.properties
src/main/resources/application-test.properties